/* (Responsive)*/
/* Mobile (small) */
@media screen and (min-width:320px) and (max-width:374px) {
/*Header*/
.header {
    width: 100%;
    height: auto;
    display: none;
}
/*Close button*/
.closebtn {
    position: absolute;
    top: 0.5em;
    right: 0.75em;
    font-size: 45px;
}
.closebtn:hover {
    cursor: pointer;
}
.header h1 {
    padding: 0.25em 0 0 0.75rem;
}
/*Links list*/
.links-list {
    padding-top: 0.25em;
}
/*Main*/
.main {
    width: 100%;
    margin: 0;
    padding: 0 1em;
}
.main h2 {
    padding-top: 0.5em;
}
/*Images*/
.images-list li {
    width: 100%;
}
.first-images {
    height: auto;
}
/*Designers list*/
.designers-list {
    flex-flow: column wrap;
}
.designers-list li {
    width: 100%;
}
/*Packages*/
.packages {
    flex-flow: column wrap;
}
.basic, .pro {
    width: 100%;
    padding-bottom: 1rem;
}
/*Footer*/
.footer {
    width: 100%;
    margin-left: 0;
}
}

/* Mobile (medium) */
@media screen and (min-width:375px) and (max-width:424px) {
.header {
    width: 100%;
    height: auto;
    display: none;
}
.closebtn {
    position: absolute;
    top: 0.5em;
    right: 0.75em;
    font-size: 45px;
}
.closebtn:hover {
    cursor: pointer;
}
.header h1 {
    padding: 0.25em 0 0 0.75rem;
}
.links-list {
    padding-top: 0.25em;
}
.main {
    width: 100%;
    margin: 0;
    padding: 0 1.5em;
}
.main h2 {
    padding-top: 0.5em;
}
.images-list li {
    width: 100%;
}
.first-images {
    height: auto;
}
.designers-list {
    flex-flow: column wrap;
}
.designers-list li {
    width: 100%;
}
.packages {
    flex-flow: column wrap;
}
.basic, .pro {
    width: 100%;
    padding-bottom: 1rem;
}
.footer {
    width: 100%;
    margin-left: 0;
}
}

/* Mobile (large) */
@media screen and (min-width:425px) and (max-width:575px) {
.header {
    width: 100%;
    height: auto;
    display: none;
}
.closebtn {
    position: absolute;
    top: 0.5em;
    right: 0.75em;
    font-size: 45px;
}
.closebtn:hover {
    cursor: pointer;
}
.header h1 {
    padding: 0.25em 0 0 0.75rem;
}
.links-list {
    padding-top: 0.25em;
}
.main {
    width: 100%;
    margin: 0;
    padding: 0 2em;
}
.main h2 {
    padding-top: 0.5em;
}
.images-list li {
    width: 100%;
}
.first-images {
    height: auto;
}
.designers-list {
    flex-flow: column wrap;
}
.designers-list li {
    width: 100%;
}
.packages {
    flex-flow: column wrap;
}
.basic, .pro {
    width: 100%;
    padding-bottom: 1rem;
}
.footer {
    width: 100%;
    margin-left: 0;
}
}

/* Size (small) */
@media screen and (min-width:576px) and (max-width:767px) {
.header {
    width: 100%;
    height: auto;
    display: none;
}
.closebtn {
    position: absolute;
    top: 0.5em;
    right: 1em;
    font-size: 45px;
}
.closebtn:hover {
    cursor: pointer;
}
.header h1 {
    padding: 0.25em 0 0 0.75rem;
}
.links-list {
    padding-top: 0.25em;
}
.main {
    width: 100%;
    margin: 0;
    padding: 0 3em;
}
.main h2 {
    padding-top: 0.5em;
}
.images-list li {
    width: 100%;
}
.first-images {
    height: auto;
}
.designers-list {
    flex-flow: column wrap;
}
.designers-list li {
    width: 100%;
}
.figure-img {
    height: auto;
}
.packages {
    flex-flow: column wrap;
}
.basic, .pro {
    width: 100%;
    padding-bottom: 1rem;
}
.footer {
    width: 100%;
    margin-left: 0;
}
}

/* Tablet */
@media screen and (min-width:768px) and (max-width:991px) {
.header {
    width: 100%;
    height: auto;
    display: none;
}
.closebtn {
    position: absolute;
    top: 0.25em;
    right: 1.75em;
    font-size: 45px;
}
.closebtn:hover {
    cursor: pointer;
}
.header h1 {
    padding: 0.25em 0 0 0.75rem;
}
.links-list {
    padding-top: 0.25em;
}
.main {
    width: 100%;
    margin: 0;
}
.main h2 {
    padding-top: 0.5em;
}
.first-images {
    height: auto;
}
.footer {
    width: 100%;
    margin-left: 0;
}
}

/* Laptop (medium)*/
@media screen and (min-width:992px) and (max-width:1199px) {
.closebtn, .openbtn {
    display: none;
}
}

/* Laptop (large) */
@media screen and (min-width:1200px) and (max-width:1439px) {
.closebtn, .openbtn {
    display: none;
}
}

/* Size (extra-large) */
@media screen and (min-width:1440px) and (max-width:2559px) {
.closebtn, .openbtn {
    display: none;
}
}